<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/components/header.css">
    <title>J-Water</title>
</head>
<body>
    <header class="main_header">
        <nav class="header_nav">
            <div class="header_nav_buttons">
                <button onclick="window.location.href='../calculator.html';">
                    CALCULADORA
                </button>
                <button onclick="window.location.href='../sobre.html';">
                    SOBRE HIDRATAÇÃO
                </button>
            </div>
            <header class="header_nav_logo">
                <a href="../../index.html">
                    <img src="../../assets/logo/jwater.png" alt="j-water logo">
                </a>
            </header>
        </nav>
    </header>
</body>
</html>