@import url(../reset.css);
@import url(../global.css);
@import url(../variables.css);
@import url(../../css/components/header.css);


.main_content div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 128px;

}

.main_content div h1 {
    padding: 16px;
}

.main_content div p {
    padding: 32px;

    width: 1000px;
}

.main_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--detailColor);

    padding: 48px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.footer_icon_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer_icon_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer_icon_right a img {
    padding: 0px;
    margin: 0px;
    width: 64px;
}

.footer_icon_left a img {
    padding: 0px;
    margin: 0px;
    width: 64px;
}

.footer_icon_right a img:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease;

    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.footer_icon_left a img:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease;

    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.footer_center a img {
    width: 128px;
}