@import url(../reset.css);
@import url(../global.css);
@import url(../variables.css);
@import url(../../css/components/header.css);


.main_content div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main_content div h1 {
    padding: 16px;
}

.main_content div p {
    padding: 32px;

    width: 1000px;
}